{% extends 'partial/layout.html' %}	
{% load crispy_forms_tags %}

	    {% block nav %}
      {% include "partial/nav.html" %}
      {% endblock nav %}
      
	 
      {% block slider %}
      {% include "partial/slider.html" %}
      {% endblock slider %}
   
     {% block search %}
     {% include "partial/search.html" %}
     {% endblock search %}
    
    
	
		{% block recentjob %}
         <form method="post">
          {% csrf_token %} 
          {{ form|crispy  }}
          <button type="submit">Signup</button>
          </form>
      {% endblock recentjob %}

		
    		{% block jobs %}
        {% include "partial/jobs.html" %}
        {% endblock jobs %}


    
      {% block terminals %}
      {% include "partial/terminals.html" %}
      {% endblock terminals %}
    
      {% block blogs %}
      {% include "partial/blogs.html" %}
      {% endblock blogs %}

		{% block subscribe %}
    {% include "partial/subcribe.html" %}
    {% endblock subscribe %}

		
    
    
      {% block footer %}
      {% include "partial/footer.html" %}
      {% endblock footer %}
    
    
  


   {% block script %}
   {% include "partial/script.html" %}
   {% endblock script %}
  
    