{% extends 'partial/layout.html' %}
    {% block header %}
    {% include "partial/header.html" %}
    {% endblock header %}

    
        {% block slider %}
        {% include "partial/slider.html" %}
        {% endblock slider %}

       {% block category %}
       {% include "partial/category.html" %}
       {% endblock category %}

       {% block popular_category %}
       {% include "partial/popular_category.html" %}
       {% endblock popular_category %}

   
   
        {% block job_listing %}
        {% include "partial/job_listing.html" %}
        {% endblock job_listing %}

    
        {% block featured_candidates %}
        {% include "partial/featured_candidates.html" %}
        {% endblock featured_candidates %}


    
        {% block top_companies %}
        {% include "partial/top_companies.html" %}
        {% endblock top_companies %}

        {% block job_searching %}
        {% include "partial/job_searching.html" %}
        {% endblock job_searching %}

       {% block testimonial %}
       {% include "partial/testimonial.html" %}
       {% endblock testimonial %}
   
         {% block footer %}
         {% include "partial/footer.html" %}
         {% endblock footer %}

    {% block script %}
    {% include "partial/script.html" %}
    {% endblock script %}